html, body, .root {
  height: 100vh;
}

.App {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
}

.App-header {
  background-color: #708ec9;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-label {
  color: white;
  font-size: calc(8px + 2vmin);
}

.search-box {
  background: #282c34;
  height: 100vh;
  line-height: 35px;
  padding: 0px 10px 0px 10px;
  text-align: left;
  width: 400px;   
}

input {
  width: 70%;
  height: 35px;
  font-size: calc(6px + 2vmin);
}

.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index:1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}
.search:not(:valid) ~ .close-icon {
  display: none;
}

#filter {
  width: 25%;
  height: 35px;
  font-size: calc(5px + 2vmin);
  padding: 1px 0px;
  display: inline-block;
  background-color: #708ec9;
  border-width: 1px;
  border-color: #708ec9;
  color: white;
}

.venues-list {
  line-height: 30px;
  font-size: 15px;
  color: white;
  list-style-type: none;
}

.venue-name:hover {
  background-color: #48494c;
}

.Map-container {
  width: 100%;
}

#map {
  height: 92vh;
}